%btn {
  font-weight: bold;
  border-radius: 10%;
  font-size: 1rem;
  padding: 5px;
  background: none;
  background-color: #a2b5bb;
  color: white;
  width: 5rem;
  height: 2.5rem; }

.botonCompras{
  @extend %btn;
  background-color: #d4c29b ;
}
  .botonCompras:hover {
    font-weight: bold;
    border-radius: 10%;
    font-size: 1rem;
    padding: 5px;
    background: none;
    background-color: rgb(235, 29, 54);
    color: white;
    width: 6rem;
    height: 3rem; }