.botonCompras {
    font-weight: bold;
    border-radius: 10%;
    font-size: 1rem;
    padding: 5px;
    background: none;
    background-color: rgb(162, 181, 187);
    color: white; 
    width: 4rem;
    height: 1.5rem;
  }
  .botonCompras:hover {
    font-weight: bold;
    border-radius: 10%;
    font-size: 1rem;
    padding: 5px;
    background: none;
    background-color: rgb(235, 29, 54);
    color: white;
    width: 6rem;
    height: 3rem; }