$red:#EB1D36;
$gris1: #A2B5BB;
$gris2: #CFD2CF;
$crema: #F5EDDC;

    
    main {
    background-color: $gris1;}
     header {
      background-color: $crema;
    }
     footer {
      background-color: $red;
     }
   