/* Seccion Ingreso y Ofertas */
.ofertasImg {
  width: 25rem;
  height: 25rem; }

.col-4 {
  border: solid 4px black;
  border-radius: 10%;
  text-align: center;
  padding: 20px;
  background: gray; }
