/* Main */


iframe:hover {
    transform: scale(2);
    transition-duration: 2s; }
  
  /*
  .lema {
    animation-name: lemamovimiento;
    animation-duration: 5s;
    transform: translatey(4vh); }
  
  @keyframes lemamovimiento {
    25% {
      transform: scale(2); }
    50% {
      text-decoration: red; } }
  .titlema {
    transform: scale(2.5);
    text-align: center; }
  */
  
  /* Footer */
  footer {
    position: relative;
    background-color: bisque;
    top: 13vw; }
  
  
  