$blue: #B5E6F5;
$red: #FFB2AD;
$yellow: #ADC9EA;
$green: #D8F0D4;

$colores: (
    verde: $green,
    azul: $blue,
    rojo:$red,
    amarillo:$yellow,
);
main p {
  color: map-get($colores, verde);
}
