
  @mixin container($ancho, $alto, $color) {
    width: $ancho;
    height: $alto;
    background-color: $color;
    border-radius: 5%;
    text-align: center;
    padding: 2vw;
    font-size: 1vw;
  } 
  
  .tarjetaPromo{
@include container(25vw, 35vw, #CFD2CF)

  }
  .tarjetaIng{
    @include container(25vw,35vw , #CFD2CF)
  }
  
